body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.half-width img{
    width: 75%;
}

.link-btn {
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    padding: 8px 25px;
    border-radius: 5px;
    color:aliceblue;
    font-size: 18px;
    font-weight: 500;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 
}
.heading-experiences{
    padding-left: 7%;
}
.experience-item{
    width:40%; 
 
    border-radius: 10px;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    margin-right: 5%;

}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.bdrLeft{
    border-left:7px solid tomato;
}
.bdrRight{
    border-left:7px solid blue;
}
footer{
    text-align:center;
}